body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    color: #111111;
}

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.header {
    border: 1px solid rgba(17, 17, 17, 0.5);
}

.header-inner {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.logo {
    margin-right: auto;
}

.phone-number {
    color: #007198;
    font-weight: bold;
}

.btn-call {
    font-size: 12px;
    background: #F47220;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(244, 114, 32, 0.4);
    border: none;
    padding: 10px 20px;
    margin-left: 50px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 10px 0;
}

.navigation-item a {
    font-size: 14px;
    color: #111111;
    text-decoration: none;
}

.main-block {
    background: rgba(72, 184, 223, 0.2);
}

.main-block h1 {
    font-size: 50px;
    font-weight: normal;
    width: 36%;
    margin: 0;
}

.text-blue {
    color: #007198;
    text-decoration: none;
}

.main-block p {
    line-height: 23px;
    width: 41%;
    margin: 16px 83px 0 0;
}

.main-block-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 43px 0;
    background: url(../images/bg.jpg) no-repeat;
}

.our-equipment h3 {
    font-size: 30px;
    color: #111111;
    text-align: center;
}

.eqboxes p {
    font-size: 18px;
    line-height: 23px;
    color: #111111;
}

.eqboxes a {
    font-size: 18px;
    line-height: 23px;
    color: #000;
    font-weight: bold;
}

.eqboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.eqbox {
    display: flex;
    flex-direction: column;
    border: 1px solid #007198;
    box-shadow: 3px 3px 5px rgba(17, 17, 17, 0.25);
    border-radius: 10px;
    width: 28%;
    margin-bottom: 20px;
    padding:20px ;
}

.eqbox img {
    width: min-content;
    align-self: center;
}

.eqbox a {
    margin-top: auto;
    margin-left: auto;
}

.our-chemisrty h3 {
    font-size: 30px;
    color: #111111;
    text-align: center;
}

.chemboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chemboxes p {
    font-size: 18px;
    line-height: 23px;
    color: #111111;
}

.chembox {
    display: flex;
    flex-direction: column;
    border: 1px solid #007198;
    box-shadow: 3px 3px 5px rgba(17, 17, 17, 0.25);
    border-radius: 10px;
    width: 20%;
    margin-bottom: 20px;
    padding: 20px;
}

.chembox img {
    align-self: center;
}

.font-color {
    color: #007198;
}

.font-upper {
    text-transform: uppercase;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;
}

.brands {
    font-size: 16px;
    color: #111111;
    line-height: 24px;
    margin-top: 30px;
}

.brands-logo {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 130px 0;
}

.footer {
    background: rgba(72, 184, 223, 0.2);
    color: #111111;
    font-size: 14px; 
    margin-top: 30px;
    padding: 10px;
}

.textline { 
display: flex;
justify-content: space-between;
border-top: 1px solid rgba(17, 17, 17, 0.5);
margin-top: 20px;
}

.text {
    width: 25%;
    margin-top: 30px;
}
.rules {
    align-self: flex-end;
    margin-right: auto;
}